my_secret_key.txt
temp_log.log

*.log
*.tmp
*.bak

npm-debug.log
.env
build/
dist/
node_modules/ 
.vscode/      

my_data_folder/*

!my_data_folder/important_config.json

my_file.txt

/src/config.js 

